* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient-left: hsl(6, 100%, 80%);
  --gradient-right: hsl(335, 100%, 65%);
}
body {
  background: url('./images/bg-mobile.png');
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
main {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.page {
  padding: 2em 3em 2em 2em;
  border-radius: 10px 80px 10px 10px;
  background: var(--dark-blue);
  margin-bottom: 1em;
}
.page__logo {
  margin-bottom: 1.3em;
}

.actions {
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: space-between;
}
.actions__img {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--very-dark-blue);
}
.storage {
  color: #fff;
  background: var(--dark-blue);
  border-radius: 10px;
  padding: 1em 1em 3em;
  position: relative;
}

.storage__text {
  text-align: center;
}
.storage__text span {
  font-weight: 700;
}
.capacity {
  display: block;
}
.capacity__progress {
  width: 100%;
  background: var(--very-dark-blue);
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.capacity__progress-bar {
  width: 78%;
  height: 17px;
  margin-left: 3px;
  position: relative;
  border-radius: 10px;

  background: linear-gradient(
    to right,
    var(--gradient-left) 0%,
    var(--gradient-right) 50%
  );
}
.capacity__progress-bar:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 13px;
  height: 13px;
  top: 50%;
  right: 0;
  margin-top: -7px;
  margin-right: 2px;
  border-radius: 50%;
}
.capacity__values {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.rest {
  background: #fff;
  position: absolute;
  padding: 0 1.5em;
  border-radius: 10px;
  left: 70px;
}
.rest__text {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--grayish-blue);
  font-weight: 700;
}
.rest__text span {
  font-size: 2em;
  color: #000;
}

@media screen and (min-width: 992px) {
  body {
    background-color: hsl(229, 57%, 11%);
    background-image: url('./images/bg-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  main {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 850px;
    max-width: 850px;
    margin-top: -80px;
  }
  .page {
    margin-bottom: 0;
    flex-grow: 0.2;
    margin-right: 1em;
  }
  .storage__text {
    text-align: initial;
  }
  .storage {
    flex-grow: 1;
    padding: 1.5em;
  }
  .rest {
    background: #fff;
    position: absolute;
    padding: 0 1.5em;
    border-radius: 10px;
    left: auto;
    right: 1.5em;
    top: -50px;
    border-radius: 10px 10px 0;
  }
  .rest:before {
    content: '';
    width: 0;
    position: absolute;
    height: 0;
    right: 0;
    bottom: 0;
    border-top: 25px solid #fff;
    border-left: 25px solid transparent;
    margin-bottom: -24px;
  }
}
